@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Lato:wght@300;400;700;900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
}

                                /*---- Background Design----*/

body{
    background-color: #e2ecec;
}
.bi{
    
    color:transparent;
    background: linear-gradient(135deg, #23d5ab , #23a6d5);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0.9;
    position: absolute;
    font-family:initial;

}
.bi-at{
    font-size: 71px;
    top: 86%;
    left: 77%;
    transform: rotate( 347deg);
}
.bi-envelope-open{

    font-size: 340px;
    top: 22%;
    left: 2%;
}
.bi-whatsapp{
    font-size: 79px;
    top: 71%;
    right: 9%;
    transform: rotate(277deg);
}
.bi-instagram{
    font-size: 88px;
    top: 53%;
    right: 7%;
    transform: rotate(331deg);
}
.bi-chat-dots{
    font-size: 126px;
    top: 26%;
    right: 4%;
    transform: rotate(330deg);
}
.bi-calendar3{
    font-size: 121px;
    top: 5%;
    right: 2%;
    transform: rotate(-9deg);
}
                                /*---- container Design----*/
container{
    width: 80%;
    background-color: rgb(245, 245, 245);
    top: 8%; right: 10%; left: 10%; bottom: 8%;
    position: absolute;
    box-shadow: 1px 1px 10px black;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
}
@media (max-width: 1200px) {

    container .info .address {
        margin: 35px 23px; 
    }

}
@media (max-width: 780px) {
    body{
        height: 1035px;
    }
    container {
        display: block;
        width: 90%;
        height: 935px;
        right: 5%;
        left: 5%;
    }
    container .input {
        width: 100%;
        height: 534px;
    }
    container .info {
        width: 100%;
    }
    .success {
        width: 80%;
    }
    .info .square {
        top: 98%;
        left: 69%;
    }
    .bi{
        display: none;
    }
    .bi-envelope-open {
        font-size: 340px;
        display: block;
        top: 1%;
        left: 2%;
    }
}
.square{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 17px;
    left: 96%;
    transform: rotate(45deg);
    background-color: #fafafa;
}


                                /*---- Information Side----*/

.info{
    background: linear-gradient(135deg, #23d5ab , #23a6d5);
    position: relative;
    width: 50%;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}


.headinfo{
    width: 84%;
    margin: auto;
;
}
.headinfo h1{
    padding: 30px 0;
    text-align: center;
    color: #fff;
    cursor: default;
}
.headinfo p{
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 40px;
    margin-left: 10px;
    color: #fff;
    cursor:default;
}
.address{
    width: 84%;
    margin: 59px 23px;
    margin-bottom: 43px;
}
.address a{
    display: block;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
    font-weight:normal;
    color: #fff;
    text-decoration: none;
}
.address a:hover{
    text-decoration: underline;
}
.address i {
    width: 30px;
    height:30px;
    Color:#fff;
    text-align: center;
    border-radius: 5px;
    padding-top: 5px;
}
.connect{
    font-size: 17px;
    width: 84%;
    margin-left:10px;
}
.connect p{
    font-size: 19px;
    padding-left: 15px;
    color: #fff;
    cursor:default;
}
.socialmedia{
    font-size: 35px;
    width: 18vw;
    margin-left: 10px;
    display:flex;
    
}
.socialmedia i{
    margin: 15px 5px;
    width: 38px;
    height: 38px;
    color:white;
	background-Color: transparent;
}


                                /*---- Send Message Side----*/

.input{
    background-color:rgb(250, 250, 250);
    position: relative;
    width: 50%;
    text-align: center;
    z-index: 99;
    line-height:16px;
}
.input-feild{
    opacity: 1;
    margin-bottom: 35px;
}

.input h1 {
    padding-top: 33px;
    padding-bottom: 21px;
    color: rgb(85, 85, 85);
}
.inputbox{
    margin: 21px auto;
    width: 75%;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius:2vw;
    border: 1px solid rgb(190, 190, 190);
}
.inputbox input,textarea {
    width: 90%;

    border: 1px solid rgb(190, 190, 190);
    line-height: 35px;
    font-size: 15px;
    outline: none;
    border: white;
}
.input p{
    position: absolute;
    left: 56px;
    width: 80%;
    margin: -18px auto;
    font-size: 12px;
    color:red;
    text-align: right;
    line-height: 10px;
}

.inputbox:hover, .inputbox:focus{
    box-shadow: 0 1px 6px #20212447;
    border-color: rgb(190, 190, 190);
    outline: none;
}
.inputbox label {
    position:absolute;
    top:0;
    left:15px;
    padding:10px 0;
    font-size:13px;
    color: rgb(150, 150, 150);
    letter-spacing:1px;
    pointer-events:none;
    transition:.5s;
}

.question-input{
    border-radius: 1vw;
}
.submit{
    border:none;
    outline:none;
    font-size: 17px;
    color:#fff;
    background: linear-gradient(135deg, #23d5ab , #23a6d5);
    padding:8px 0;
    width:75%;
    cursor:pointer;
    border-radius:50px;
    margin-top: 23px;
}
.submit:hover{
    box-shadow: 0 1px 6px #20212447;
    border: 1px solid #23d5ab;
    padding:7px 0;
    background: white;
    color:#59b4ca;
    box-sizing: border-box;

}
.error{
    border:1px solid rgb(228, 131, 131);
}
.hidden {
    display: none;
}
.success{

    position: relative;
    margin: auto;
    color: rgb(136, 136, 136);
    top: 20%;
    right: 10%;
    left: 10%;
    width: 80%;
    line-height: 34px;
    cursor:default;
    transition: opacity 2s linear;
    opacity: 0;
}
.success i{
    font-size: 60px;
    margin-top: 10px;
    color:transparent;
    background: linear-gradient(135deg, #23d5ab , #23a6d5);
    background-clip: text;
    -webkit-background-clip: text;
}
.inputbox .onfocus{
    top:-28px;
    left:10px;
    font-size:12px ;
    color:#636363;
}
